<% current_user.posts.each do |post| %>
  <p>Title: <%= post.title %></p>
  <p><%= post.body %></p>
  <%= link_to "Edit post", edit_post_path(post), class: "btn"%>
  <%= link_to "Delete post",
                post_path(post),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn_delete" %>
<% end %>
